# Objetivo: Recibiendo como entrada un BBDD se realiza un analisis para comprender su integridad.
# Entrada: DataFrame
# Salida: analisis descriptivo/cuantitavo sobre la integridad de la datos.
# Aspectos a evaluar: 
                     a) Valores vacios: 0, null, NaN.
                     b) Tipos de datos: Q de tipos de datos distintos en una misma columna 
                     c) Cantidad de datos por columna

In [181]:
import pandas as pd
import os as os
import numpy as np

In [182]:
# Lectura del CSV y guardado en una variable
def READ_CSV(x):
    return pd.read_csv(x, sep=",", encoding='latin-1')

FILE = READ_CSV('base-primer-relev-dispositivos.csv')

# Guardo los emails en una sola colimna de un DF
FILE_DF = pd.DataFrame()
# FILE_DF[0] = FILE

# Paso la columna con los email del DF a una lista
# email_list = []
# email_list = FILE_DF[0].values.tolist()

In [183]:
FILE.shape[0]

1798

In [184]:
def volumen (x):
    volumn = pd.DataFrame(columns=['Count'])
    volumn.loc['Filas'] = x.shape[0]
    volumn.loc['Columnas'] = x.shape[1]
    return volumn

In [185]:
def column_list (x):
    columns_list = []
    columns_list = x.columns
    return columns_list

In [186]:
def count_list (x):
    column_list = x.columns
    count_list = []
    for y in column_list:
        column_data = x[y]
        if column_data is not None:
            count_list.append(column_data.count())

    return count_list

In [187]:
def unique_list (x):
    column_list = x.columns
    unique_list = []
    for y in column_list:
        column_data = x[y]
        if column_data is not None:
            unique_list.append(column_data.nunique())

    return unique_list

In [188]:
def empty_list (x):
    column_list = x.columns
    empty_list = []
    for y in column_list:
        column_data = x[y]
        if column_data is not None:
            empty_list.append(column_data.eq(' ').sum())

    return empty_list

In [189]:
def cero_list (x):
    column_list = x.columns
    cero_list = []
    for y in column_list:
        column_data = x[y]
        if column_data is not None:
            cero_list.append(column_data.eq('0').sum())

    return cero_list

In [190]:
def null_list (x):
    column_list = x.columns
    null_list = []
    for y in column_list:
        column_data = x[y]
        if column_data is not None:
            null_list.append(column_data.isnull().sum())

    return null_list

In [191]:
valores_agrupados = []
valores_agrupados = FILE['q0038_0001_0001'].unique().tolist()
print(valores_agrupados)

['0', '3', '1', '2', '12', '4', '5', '8', '6', '9', '10', '11', '13', 'MÃ¡s de 20', '7', ' ']

In [192]:
row = (FILE['q0039_0007_0001'].eq('0').sum())
print(row)

1209

In [193]:
print(volumen(FILE))
print(column_list(FILE))
print(empty_list(FILE))
print(cero_list(FILE))
print(null_list(FILE))
print(count_list(FILE))
print(unique_list(FILE))

          Count
Filas      1798
Columnas    230
Index(['respondent_id', 'q0011', 'q0021', 'q0022', 'q0023_0001', 'q0023_0002',
       'q0023_0003', 'q0023_0004', 'q0023_0005', 'q0023_0006',
       ...
       'q0072_0018', 'q0073', 'q0075_0001', 'q0075_0002', 'q0075_0003',
       'q0075_0004', 'q0075_0005', 'q0075_0006', 'q0075_0007', 'q0075_0008'],
      dtype='object', length=230)
[0, 0, 0, 0, 1285, 1680, 858, 1579, 1615, 1709, 1686, 1702, 1448, 391, 1437, 718, 0, 0, 113, 113, 113, 552, 248, 431, 185, 439, 532, 1305, 1709, 1798, 1094, 515, 97, 161, 505, 878, 685, 1235, 728, 898, 777, 738, 738, 582, 476, 995, 588, 1514, 981, 791, 844, 529, 1363, 328, 1521, 1009, 735, 770, 917, 672, 1415, 1635, 585, 734, 784, 721, 1075, 1005, 672, 1135, 1600, 1724, 1583, 1137, 676, 1257, 903, 1430, 545, 1197, 1099, 1509, 1245, 1227, 979, 1334, 834, 561, 1037, 1705, 1446, 1180, 1674, 1502, 1669, 1681, 1750, 1613, 719, 1763, 1622, 1707, 1223, 450, 1442, 1103, 1201, 1267, 1340, 1350, 1439, 1211, 1511, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 122, 1495, 1495, 1502, 1502, 1503, 428, 755, 848, 1052, 1087, 1443, 697, 1436, 398, 1674, 301, 1464, 1652, 1057, 1711, 1463, 1204, 1755, 1766, 1702, 1608, 1481, 1655, 1549, 1301, 1571, 1436, 1711, 1000, 1424, 1732, 1537, 1745, 1776, 1761, 1650, 298, 424, 612, 1586, 1026, 1527, 1636, 1437, 1213, 1682, 449, 478, 718, 875, 1074, 840, 1439, 1261, 1387, 1338, 908, 1165, 1336, 1681, 1613, 1116, 1363, 1129, 1280, 1356, 1596, 1631, 1529, 1406, 1596, 1431, 1340, 1652, 1638, 1444, 1393, 1684, 310, 1715, 1668, 1697, 1659, 1625, 1710, 961, 1564]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1201, 1111, 1577, 1663, 1648, 98, 463, 1159, 1502, 1356, 1463, 1055, 1374, 1297, 810, 597, 1469, 1046, 1232, 1209, 1465, 1497, 1603, 1256, 0, 25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798, 1798]
[1798, 24, 3, 7, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 24, 3, 6, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 16, 18, 7, 6, 5, 23, 18, 22, 9, 8, 11, 21, 17, 16, 21, 20, 16, 17, 19, 17, 12, 16, 12, 15, 3, 52, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 6, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 2]

In [194]:
resumen = pd.DataFrame(columns=['columnas'])
resumen['columnas'] = pd.Series(column_list(FILE))
resumen['count'] = pd.Series(count_list(FILE))
resumen['unique'] = pd.Series(unique_list(FILE))
resumen['vacios'] = pd.Series(empty_list(FILE))
resumen['cero'] = pd.Series(cero_list(FILE))
resumen['null'] = pd.Series(null_list(FILE))
print(resumen)

          columnas  count  unique  vacios  cero  null
0    respondent_id   1798    1798       0     0     0
1            q0011   1798      24       0     0     0
2            q0021   1798       3       0     0     0
3            q0022   1798       7       0     0     0
4       q0023_0001   1798       2    1285     0     0
..             ...    ...     ...     ...   ...   ...
225     q0075_0004   1798       2    1659     0     0
226     q0075_0005   1798       2    1625     0     0
227     q0075_0006   1798       2    1710     0     0
228     q0075_0007   1798       2     961     0     0
229     q0075_0008   1798       2    1564     0     0

[230 rows x 6 columns]

In [195]:
FILE['q0038_0003_0001'].describe()

count     1798
unique       7
top          0
freq      1577
Name: q0038_0003_0001, dtype: object