In [1]:
import sqlparse

def analizar_sql(sql):
    parsed = sqlparse.parse(sql)
    for statement in parsed:
        for token in statement.tokens:
            print(token)

# Ejemplo de uso
sql_code = """
CREATE TEMP TABLE TempTable1 (
    id INT,
    name VARCHAR(255)
);

SELECT id, name
FROM Table1
WHERE id > 100
JOIN Table2 ON Table1.id = Table2.id;
"""

analizar_sql(sql_code)

CREATE

TEMP

TABLE

TempTable1

(
    id INT,
    name VARCHAR(255)
)
;




SELECT

id, name


FROM

Table1


WHERE id > 100
JOIN Table2 ON Table1.id = Table2.id;