In [142]:
import pdfplumber
import pandasql as psql
import re
from prettytable import PrettyTable

def extraer_texto_pdf(ruta_pdf):
    texto_completo = ""
    
    with pdfplumber.open(ruta_pdf) as pdf:
        for page in pdf.pages:
            texto_completo += page.extract_text()
    
    return texto_completo

In [143]:
ruta_pdf = 'resumen_septiembre.pdf'
texto = extraer_texto_pdf(ruta_pdf)

In [144]:
import re
import pandas as pd

def encolumnar_datos(texto):
    """
    Esta función recibe una cadena de texto con datos en formato no estructurado y los convierte en columnas.
    
    :param texto: Cadena de texto con datos no estructurados.
    :return: DataFrame de pandas con los datos encolumnados.
    """
    # Separar cada línea del texto
    lineas = texto.strip().split('\n')
    
    # Crear una lista para almacenar las filas procesadas
    filas = []
    
    # Procesar cada línea para separar en columnas
    for linea in lineas:
        # Usar una expresión regular para capturar las columnas, con la columna Cuotas opcional
        patron = r'(\d{2}-\d{2}-\d{2})\s+([*K]?\s?[A-Z].+?)(?:\s+(\d{2}/\d{2}))?\s+(\d{6})\s+([\d.,]+)'
        coincidencia = re.match(patron, linea)
        
        if coincidencia:
            fecha, descripcion, cuotas, comprobante, monto = coincidencia.groups()
            # Si no hay información en Cuotas, dejar el campo vacío
            cuotas = cuotas if cuotas else ''
            filas.append([fecha, descripcion.strip(), cuotas, comprobante, monto])
    
    # Crear un DataFrame con las filas procesadas
    df = pd.DataFrame(filas, columns=['Fecha', 'Descripción', 'Cuotas', 'Comprobante', 'Monto'])
    
    return df

In [145]:
#Setup de opciones para la visualizacion de los DF correctamente

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [146]:
df_sumary_card = (encolumnar_datos(texto))

In [147]:
print(encolumnar_datos(texto))

       Fecha                            Descripción Cuotas Comprobante  \
0   23-06-24                    K MERPAGO*TCTIENDAS  03/06      222697
1   04-07-24                          K MERPAGO*PSA  03/06      212596
2   09-08-24                 K MERPAGO*MERCADOLIBRE  02/06      143241
3   22-08-24         * MEDICUS SA DEB A 12688472000             545063
4   23-08-24                     K MERPAGO*SPORTCLU             474832
5   23-08-24                                * RAPPI             004033
6   24-08-24   P MICROSOFT*1 MES Z62JNQ1XVP8B115776             074008
7   24-08-24                * QUOTIDIANO-QUOTIDIANO             838912
8   24-08-24                     * KUKE SRL - AXION             001656
9   24-08-24                                * FIERA             000385
10  25-08-24                   K MERPAGO*GOOPYSTORE             148977
11  26-08-24  V LinkedIn Pre P77 LinkedIn Pre P7767             857802
12  26-08-24                           * RES BOYACA             886116
13  26-08-24                           K HAVANNA SA             007413
14  27-08-24                   * MERPAGO*MOLINACAFE             805742
15  27-08-24            * CARREFOUR EXPRESS AV CARA             001269
16  28-08-24             * EDESUR DEB AUT 056340211             000001
17  29-08-24                   K MERPAGO*NORTHPHARM             536945
18  29-08-24                       * DIA TIENDA 409             208705
19  29-08-24                           K HAVANNA SA             007554
20  30-08-24                       * EASY CABALLITO             150417
21  31-08-24               * LA BUENOS AIRES PASTEL             022582
22  31-08-24                       * GOYENA BAR SRL             007360
23  02-09-24                 K MERPAGO*MERCADOLIBRE             447614
24  02-09-24        * PERSONAL FLOW 100329902571001             021106
25  03-09-24                                * RAPPI             001181
26  03-09-24                                * RAPPI             006189
27  07-09-24                   DUFRY COP 150.210,00             056654
28  07-09-24                 XUE CAFE COP 65.384,00             059379
29  02-04-24                            * NFS ARCOS  06/06      984140
30  11-05-24                 * SARKANYSOFIA ALCORTA  05/06      006189
31  21-06-24                     * FURZAI UNICENTER  03/03      923094
32  06-07-24                      * CAPRICHO ANIMAL  03/03      863562
33  29-08-24                               * ARREDO  01/03      000954

         Monto
0    37.539,66
1    47.300,00
2    14.950,83
3    46.951,71
4    34.000,00
5    18.039,50
6     6.999,00
7    19.200,00
8    54.005,00
9    39.800,00
10   32.659,08
11    1.999,00
12   19.981,50
13   17.700,00
14    9.100,00
15   42.237,00
16   21.487,41
17  116.000,00
18   10.090,00
19    5.800,00
20   49.619,00
21   10.000,00
22   63.200,00
23   34.690,00
24   47.874,02
25    3.999,00
26   18.359,50
27       36,36
28       15,83
29    7.999,66
30   10.616,66
31   38.333,33
32    9.996,66
33   25.993,34

In [148]:
# Funcion para identificar cantidad de consumos en un mismo local:

# Contar la frecuencia de cada valor en la columna 'Descripción'
conteo = df_sumary_card['Descripción'].value_counts()

# Mapear el conteo de frecuencias a la columna del DataFrame
df_sumary_card['q_repetido'] = df_sumary_card['Descripción'].map(conteo)

#------------------------------------------------------------------------------------
# Funcion para identificar consumos duplicados:

df_sumary_card['concat_desc_monto'] = df_sumary_card['Fecha'] + '' +df_sumary_card['Descripción'] + ' ' + df_sumary_card['Monto']

# Contar la frecuencia de cada valor en la columna 'Descripción'
conteo_consum_dupli = df_sumary_card['concat_desc_monto'].value_counts()

# Mapear el conteo de frecuencias a la columna del DataFrame
df_sumary_card['consumo_duplicado'] = df_sumary_card['concat_desc_monto'].map(conteo_consum_dupli)

In [149]:
# Construccion de categorias:

categorias = {
    '* TIENDA DE CAFE': 'salida',
    '* RAPPI ARG S.A.S.': 'comida',
    '* MOLINA PANADERIA': 'salida',
    '* DIA TIENDA 409': 'comida',
    '* FARMACITY': 'medicina',
    'P MICROSOFT*1 MES Z62PJZACGU5Q115776': 'suscripcion',
    '* MEDICUS SA DEB A 12688472000': 'obra social',
    '* RES BOYACA': 'comida',
    'V LinkedIn Pre P38 LinkedIn Pre P3821': 'suscripcion',
    '* CARREFOUR EXPRESS AV CARA': 'comida',
    '* PERSONAL FLOW 100329902571001': 'servicios',
    'K HAVANNA SA': 'salidas',
    '* ALMACEN DE PIZZAS': 'salidas',
    '* EDESUR DEB AUT 056340211': 'servicios',
    '* MULTIPASTA': 'comida',
    '* RAPPI': 'comida',
    'K MERPAGO*SPORTCLU': 'gimansio',
    'P MICROSOFT*1 MES Z62FLR7HJIKF115776': 'suscripcion',
    '* LA TROPILLA CARNICERIA ': 'comida',
    '* CAFE REGISTRADO': 'salida',
    '* OTAWA DELI S.A.': 'comida',
    '* DLO*RAPPI.': 'comida',
    '* RUIZ LA PASTELERIA': 'comida',
    '* FOGOSA': 'salida',
    '* LA BUENOS AIRES PASTEL': 'salida',
    
}

df_sumary_card['categoria'] = df_sumary_card['Descripción'].map(categorias)

In [150]:
# Frmato visual para la tabla de salda

x = PrettyTable()
x.field_names = df_sumary_card.columns.tolist()
for row in df_sumary_card.itertuples(index=False):
    x.add_row(row)

In [151]:
print(x)

+----------+---------------------------------------+--------+-------------+------------+------------+--------------------------------------------------------+-------------------+-------------+
|  Fecha   |              Descripción              | Cuotas | Comprobante |   Monto    | q_repetido |                   concat_desc_monto                    | consumo_duplicado |  categoria  |
+----------+---------------------------------------+--------+-------------+------------+------------+--------------------------------------------------------+-------------------+-------------+
| 23-06-24 |          K MERPAGO*TCTIENDAS          | 03/06  |    222697   | 37.539,66  |     1      |         23-06-24K MERPAGO*TCTIENDAS 37.539,66          |         1         |     nan     |
| 04-07-24 |             K MERPAGO*PSA             | 03/06  |    212596   | 47.300,00  |     1      |            04-07-24K MERPAGO*PSA 47.300,00             |         1         |     nan     |
| 09-08-24 |         K MERPAGO*MERCADOLIBRE        | 02/06  |    143241   | 14.950,83  |     2      |        09-08-24K MERPAGO*MERCADOLIBRE 14.950,83        |         1         |     nan     |
| 22-08-24 |     * MEDICUS SA DEB A 12688472000    |        |    545063   | 46.951,71  |     1      |    22-08-24* MEDICUS SA DEB A 12688472000 46.951,71    |         1         | obra social |
| 23-08-24 |           K MERPAGO*SPORTCLU          |        |    474832   | 34.000,00  |     1      |          23-08-24K MERPAGO*SPORTCLU 34.000,00          |         1         |   gimansio  |
| 23-08-24 |                * RAPPI                |        |    004033   | 18.039,50  |     3      |               23-08-24* RAPPI 18.039,50                |         1         |    comida   |
| 24-08-24 |  P MICROSOFT*1 MES Z62JNQ1XVP8B115776 |        |    074008   |  6.999,00  |     1      | 24-08-24P MICROSOFT*1 MES Z62JNQ1XVP8B115776 6.999,00  |         1         |     nan     |
| 24-08-24 |        * QUOTIDIANO-QUOTIDIANO        |        |    838912   | 19.200,00  |     1      |       24-08-24* QUOTIDIANO-QUOTIDIANO 19.200,00        |         1         |     nan     |
| 24-08-24 |           * KUKE SRL - AXION          |        |    001656   | 54.005,00  |     1      |          24-08-24* KUKE SRL - AXION 54.005,00          |         1         |     nan     |
| 24-08-24 |                * FIERA                |        |    000385   | 39.800,00  |     1      |               24-08-24* FIERA 39.800,00                |         1         |     nan     |
| 25-08-24 |          K MERPAGO*GOOPYSTORE         |        |    148977   | 32.659,08  |     1      |         25-08-24K MERPAGO*GOOPYSTORE 32.659,08         |         1         |     nan     |
| 26-08-24 | V LinkedIn Pre P77 LinkedIn Pre P7767 |        |    857802   |  1.999,00  |     1      | 26-08-24V LinkedIn Pre P77 LinkedIn Pre P7767 1.999,00 |         1         |     nan     |
| 26-08-24 |              * RES BOYACA             |        |    886116   | 19.981,50  |     1      |             26-08-24* RES BOYACA 19.981,50             |         1         |    comida   |
| 26-08-24 |              K HAVANNA SA             |        |    007413   | 17.700,00  |     2      |             26-08-24K HAVANNA SA 17.700,00             |         1         |   salidas   |
| 27-08-24 |          * MERPAGO*MOLINACAFE         |        |    805742   |  9.100,00  |     1      |         27-08-24* MERPAGO*MOLINACAFE 9.100,00          |         1         |     nan     |
| 27-08-24 |      * CARREFOUR EXPRESS AV CARA      |        |    001269   | 42.237,00  |     1      |     27-08-24* CARREFOUR EXPRESS AV CARA 42.237,00      |         1         |    comida   |
| 28-08-24 |       * EDESUR DEB AUT 056340211      |        |    000001   | 21.487,41  |     1      |      28-08-24* EDESUR DEB AUT 056340211 21.487,41      |         1         |   salidas   |
| 29-08-24 |          K MERPAGO*NORTHPHARM         |        |    536945   | 116.000,00 |     1      |        29-08-24K MERPAGO*NORTHPHARM 116.000,00         |         1         |     nan     |
| 29-08-24 |            * DIA TIENDA 409           |        |    208705   | 10.090,00  |     1      |           29-08-24* DIA TIENDA 409 10.090,00           |         1         |    comida   |
| 29-08-24 |              K HAVANNA SA             |        |    007554   |  5.800,00  |     2      |             29-08-24K HAVANNA SA 5.800,00              |         1         |   salidas   |
| 30-08-24 |            * EASY CABALLITO           |        |    150417   | 49.619,00  |     1      |           30-08-24* EASY CABALLITO 49.619,00           |         1         |     nan     |
| 31-08-24 |        * LA BUENOS AIRES PASTEL       |        |    022582   | 10.000,00  |     1      |       31-08-24* LA BUENOS AIRES PASTEL 10.000,00       |         1         |     nan     |
| 31-08-24 |            * GOYENA BAR SRL           |        |    007360   | 63.200,00  |     1      |           31-08-24* GOYENA BAR SRL 63.200,00           |         1         |     nan     |
| 02-09-24 |         K MERPAGO*MERCADOLIBRE        |        |    447614   | 34.690,00  |     2      |        02-09-24K MERPAGO*MERCADOLIBRE 34.690,00        |         1         |     nan     |
| 02-09-24 |    * PERSONAL FLOW 100329902571001    |        |    021106   | 47.874,02  |     1      |   02-09-24* PERSONAL FLOW 100329902571001 47.874,02    |         1         |  servicios  |
| 03-09-24 |                * RAPPI                |        |    001181   |  3.999,00  |     3      |                03-09-24* RAPPI 3.999,00                |         1         |    comida   |
| 03-09-24 |                * RAPPI                |        |    006189   | 18.359,50  |     3      |               03-09-24* RAPPI 18.359,50                |         1         |    comida   |
| 07-09-24 |          DUFRY COP 150.210,00         |        |    056654   |   36,36    |     1      |           07-09-24DUFRY COP 150.210,00 36,36           |         1         |     nan     |
| 07-09-24 |         XUE CAFE COP 65.384,00        |        |    059379   |   15,83    |     1      |          07-09-24XUE CAFE COP 65.384,00 15,83          |         1         |     nan     |
| 02-04-24 |              * NFS ARCOS              | 06/06  |    984140   |  7.999,66  |     1      |              02-04-24* NFS ARCOS 7.999,66              |         1         |     nan     |
| 11-05-24 |         * SARKANYSOFIA ALCORTA        | 05/06  |    006189   | 10.616,66  |     1      |        11-05-24* SARKANYSOFIA ALCORTA 10.616,66        |         1         |     nan     |
| 21-06-24 |           * FURZAI UNICENTER          | 03/03  |    923094   | 38.333,33  |     1      |          21-06-24* FURZAI UNICENTER 38.333,33          |         1         |     nan     |
| 06-07-24 |           * CAPRICHO ANIMAL           | 03/03  |    863562   |  9.996,66  |     1      |           06-07-24* CAPRICHO ANIMAL 9.996,66           |         1         |     nan     |
| 29-08-24 |                * ARREDO               | 01/03  |    000954   | 25.993,34  |     1      |               29-08-24* ARREDO 25.993,34               |         1         |     nan     |
+----------+---------------------------------------+--------+-------------+------------+------------+--------------------------------------------------------+-------------------+-------------+